# Server Configuration
PORT=3000
NODE_ENV=development

# Uber Eats OAuth2
UBER_CLIENT_ID=sYOHLc-1Pxx7911FDp63a5ML_gV8gLpj
UBER_CLIENT_SECRET=HKnI6_m5WldhMMaCmFVJoVjHW5enjCoKP0jFCtKb
UBER_AUTH_URL=https://sandbox-login.uber.com/oauth/v2/token
UBER_API_BASE_URL=https://test-api.uber.com
UBER_OAUTH_SCOPE=eats.store
UBER_MENU_PATH=/v2/eats/stores/{storeId}/menus
UBER_STORE_ID=be238d6e-25a7-4a03-bd4c-283775cd3853
UBER_STORE_NAME=Comida Test1

# Sistemas Sierra POS
SIERRA_API_URL=https://demo-services-alternative.sierraerp.com
SIERRA_API_KEY=CxzKRteOXeAr5fpa1D2wOm4tlMs64Jsz6wPoYQye8Kdz6sgZ9r0w9JOh3JbJZmlV

# Webhook
WEBHOOK_SIGNATURE_SECRET=your-webhook-secret-key

# Logging
LOG_LEVEL=debug
